.button {
  outline: none;
  padding: 16px 32px;
  height: 56px;
  min-width: 156px;
  cursor: pointer;
  transition: all var(--trns-fast);
  border-radius: 30px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Mulish Medium", Arial, sans-serif;
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--dark-gray-color);
}

.button.small {
  padding: 10px 24px;
  height: 44px;
  min-width: 116px;
}

.iconLoading {
  animation: rotate var(--trns-slow-linear) infinite;
}

.button:disabled {
  cursor: default;
}

.button.primary {
  background-color: #050505;
  color: var(--white-color);
  border: 1px solid #050505;
}

.button.primary:disabled,
.button.primary:disabled:hover {
  background-color: var(--gray-color);
  color: var(--white-color);
  border: 1px solid var(--gray-color);
}

.button.primary:hover,
.button.primary:focus-visible {
  background-color: var(--black-color);
  border-color: var(--black-color);
}

.button.secondary {
  background-color: var(--white-color);
  color: var(--black-color);
  border: 1px solid var(--dark-gray-color);
}

.button.secondary:disabled,
.button.secondary:disabled:hover {
  background-color: var(--gray-color);
  color: var(--gray-color);
  border: 1px solid var(--gray-color);
}

.button.secondary:hover,
.button.secondary:focus-visible {
  background-color: var(--black-color);
  color: var(--white-color);
  border-color: var(--black-color);
}

.button.secondary-reversed {
  background-color: var(--black-color);
  color: var(--white-color);
  border: 1px solid var(--white-color);
}

.button.secondary-reversed:disabled,
.button.secondary-reversed:disabled:hover{
  background-color: var(--black-color);
  color: var(--gray-color);
  border: 1px solid var(--gray-color);
}

.button.secondary-reversed:hover,
.button.secondary-reversed:focus-visible {
  background-color: var(--white-color);
  color: var(--black-color);
  border-color: var(--white-color);
}

.button.fullWidth {
  width: 100%;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

