.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 32px;
  height: 56px;
  border-radius: var(--border-radius-m);
  cursor: pointer;

  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.label {
  display: inline-block;
}

.icon {
  display: inline-flex;
  width: 22px;
  height: 22px;
}

/* ===== Variants ===== */
.outline {
  background-color: transparent;
  border: 1px solid var(--black-color);
  color: var(--black-color);
}

.outline:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

.outline:hover .icon img,
.outline:hover .icon svg {
  filter: brightness(0) invert(1);
}

.dark {
  background-color: var(--black-color);
  border: none;
  color: var(--white-color);
}
