.categoriesHeader {
  justify-content: left;
  margin-bottom: 40px;
  width: 100%;
}

.categoriesHeading {
  text-align: left;
  font-size: 28px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: -0.56px;
  margin-bottom: 16px;
  text-transform: uppercase;
  color: #050505;
}

.categoriesSubheading {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: #BFBEBE;
  max-width: 343px;
  line-height: 20px;
  letter-spacing: -0.28px;
  margin-bottom: 32px;
}

.categoriesGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 16px;
}

.categoryCard {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease;
  display: flex;
  align-items: flex-end;
  width: 343px;
  height: 250px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
}

.categoryCard:hover {
  transform: translateY(-5px);
}

.categoryOverlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 70%);
  width: 100%;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
}

.categoryName {
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.20);
}

.arrow {
  width: 18px;
  height: 18px;
}

.arrowWrapper {
  background: rgba(0, 0, 0, 0.1);
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.20);
}

.allCategories {
  background-color: #050505;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #FFF;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.32px;
}

/* Responsive adjustments */
@media screen and (min-width: 768px) {
  .categoriesHeading {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.8px;
  }

  .categoriesSubheading {
    font-size: 16px;
    max-width: 531px;
    line-height: 24px;
    letter-spacing: -0.32px;
    margin-bottom: 40px;
  }

  .categoriesGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    justify-content: center;
  }

  .categoryCard {
    width: 100%;
    height: 250px;
  }

  .categoriesGrid > :nth-child(3),
  .categoriesGrid > :nth-child(8),
  .categoriesGrid > :nth-child(13),
  .categoriesGrid > :nth-child(18) {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 1440px) {
  .categoriesGrid {
    grid-template-columns: 1fr;
  }

  .categoriesGrid> :nth-child(4),
  .categoriesGrid> :nth-child(8) {
    grid-column: span 1;
  }
}

@media screen and (min-width: 1440px) {
  .categoriesHeading {
    margin-bottom: 20px;
  }

  .categoryCard {
    height: 369px;
  }

  .categoriesGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: start;
  }

  .categoriesGrid> :nth-child(1),
  .categoriesGrid> :nth-child(2),
  .categoriesGrid> :nth-child(5),
  .categoriesGrid> :nth-child(6),
  .categoriesGrid> :nth-child(7),
  .categoriesGrid> :nth-child(9),
  .categoriesGrid> :nth-child(11),
  .categoriesGrid> :nth-child(12) {
    width: 325px;
  }

  .categoriesGrid> :nth-child(3),
  .categoriesGrid> :nth-child(4),
  .categoriesGrid> :nth-child(8),
   .categoriesGrid> :nth-child(10) {
    width: 590px;
  }
}
