.tabBar {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #e5e5e5;
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex-wrap: nowrap;
  align-items: flex-end;
  overflow-x: auto;
}

.tab {
  background: none;
  border: none;
  padding: 0px 0px 14px 0px;
  color: var(--gray-color);
  cursor: pointer;
  transition: all var(--transition-duration) var(--transition-timing-function);
  border-bottom: 2px solid transparent;
  flex-shrink: 0;
  white-space: nowrap;
  min-width: max-content;

  font-weight: 800;
  font-style: ExtraBold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -2%;
  text-transform: uppercase;
}

.tab:hover {
  color: var(--black-color);
}

.tab.active {
  color: var(--black-color);
  border-bottom-color: var(--black-color);
}

.tab:first-child {
  padding-left: 0;
}

.tab:last-child {
  padding-right: 0;
}

@media (min-width: 768px) {
  .tab {
    font-size: 20px;
    line-height: 24px;
  }
}
