.h2 {
  font-family: Mulish;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: var(--black-color);
}

.h3 {
  font-family: Mulish;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -2%;
  text-transform: uppercase;
}

.h4 {
  font-family: Mulish;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  text-transform: uppercase;
}

.main {
  font-family: Mulish;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;
  color: var(--black-color);
}

/* Responsive design */
@media (min-width: 768px) {
  .h2 {
    font-size: 40px;
    line-height: 44px;
  }

  .main {
    font-size: 16px;
    line-height: 24px;
  }
}
