.overlay {
  position: fixed;
  z-index: 999;
  background-color: var(--overlay);
  animation: fade var(--trns-fast);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 343px;
  width: 100%;
  overflow-y: auto;
  background: var(--white-color);
  border-radius: 20px;
  padding: 60px 30px;
}

.header {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
}

.closeIcon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

/*tablet*/
@media only screen and (min-width: 768px) {
  .modal {
    max-width: 560px;
    padding: 80px;
    border-radius: 30px;
  }

  .header {
    top: 20px;
    right: 20px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  /*styles are the same as for the tablet*/
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
