.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 0px;
}

.backButton {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: var(--black-color);
    text-transform: uppercase;
}

.backButton img {
    margin-right: 6px;
}

.topSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

@media screen and (min-width: 1440px) {
    .filtersSection {
        display: flex;
        align-items: flex-start;
        gap: 40px;
    }
}
