.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 343px;
  width: 100%;
}

.profileHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid #bfbebe;
  border-radius: var(--border-radius-m);
  width: fit-content;
  width: 100%;
  padding: 30px 69px;
}

.userInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 40px 80px;
  min-width: fit-content;
}

.userName {
  color: var(--black-color);
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  text-transform: uppercase;
  margin: 0;
}

.userDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  align-items: flex-start;
}

.userDetails p {
  margin: 0;
  color: var(--black-color);
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;
  white-space: nowrap;
  text-align: center;
}

.userDetails span {
  color: var(--gray-color);
  font-weight: normal;
}

@media (min-width: 768px) {
  .container {
    max-width: 400px;
  }

  .profileHeader {
    padding: 40px 80px;
  }
}

@media (min-width: 1280px) {
  
}
