/* Footer.module.css */
.footer {
  background-color: var(--bg-color);
  padding: 40px 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.separator {
  height: 1px;
  border: none;
  border-bottom: 1px solid var(--gray-color);
  margin: 40px 0;
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
