@import 'modern-normalize/modern-normalize.css';
@import './styles/variables.css';
@import './styles/typography.css';

/* ===== Fonts ===== */
@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/mulish-v13-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/mulish-v13-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/mulish-v13-latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/mulish-v13-latin-800.woff2') format('woff2');
}

/* ===== Reset ===== */
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

/* ===== Global styles ===== */
body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  background-color: var(--white-color);
  color: var(--black-color);
  line-height: 1.5;
}
