.recipeCard {
  display: flex;
  gap: 10px;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.imageContainer {
  position: relative;
  flex-shrink: 0;
}

.recipeImage {
  width: 75px;
  height: 75px;
  border-radius: var(--border-radius-s);
  object-fit: cover;
}

.actions {
  display: flex;
  gap: 4px;
}

.recipeInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recipeTitle {
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  text-transform: uppercase;

  margin: 0;
  color: var(--black-color);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipeDescription {
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;

  margin: 0;
  color: var(--black-color);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .recipeCard {
    gap: 16px;
  }

  .recipeImage {
    width: 100px;
    height: 100px;
  }

  .recipeInfo {
    gap: 10px;
  }

  .recipeTitle {
    font-size: 20px;
  }

  .recipeDescription {
    font-size: 16px;
    line-height: 24px;
  }
}
